*{
    margin: 10px;
}


h1{
    text-align: center;
}

h2{
    font-family: cursive;
    font-size: 30px;
    padding: 20px;
    width: 20%;
}

header{
    font-family:cursive;
    font-size: 30px;
}

main{
    margin: 75px;
    margin-top: 20px;
}

.box{
    width: 20%;
    float: left;
    padding: 7px;
    padding-left: 20px;  
    display: block;

}

img{
    width: 100%;
    border-radius: 10px;

}

img:hover{
    transform: scale(2.5,2.5);
    transition: 1s transform;

}
