*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mySlides{
    width: fit-content;
    height: 100%;
    display: none;
    top: 0%;
}
.logo{
    position: absolute;
    padding-top:30;
	padding-left: 30;
}
.name .heading{
	font-size: 80px;
	font-family: Adobe Garamond Pro Bold;
	font-weight: bold;
	padding-left: 125;
}
.name{
    position: absolute;
    top: 40%;
    left: 5%;
    color: white;
    opacity: 1;
}
.name h1{
    font-size: 42;
    text-transform: uppercase;
}
.navig{
    padding: 5px;
    position: fixed;
    width: 80%;
    top: 1.5%;
    left: 30%;
    background: black;
    color:rosybrown;
}
.navig li{
    padding: 3px;
    list-style-type: none;
    float: left;
    color: cadetblue;
}
.navig li a{
    display: block;
    padding: 10px;
    color: skyblue;
    font-size: 20;
    text-decoration: none;
}
.navig li a:hover{
    background-color: black;
    opacity: 0.6;
    color: whitesmoke;
}
.dropbtn li a{
    display: inline-block;
    color:skyblue;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color:cadetblue;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 100px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: black;
}
.dropdown:hover .dropdown-content {
    display: block;
}
footer{
    background-color: rosybrown;
}


.book{
    position: absolute;
    top: 15%;
    left: 65%;
	background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),url("images1.jpg") center/cover no-repeat;	
	opacity: 0.9;
	color:azure;
    padding: 40px 50px;
    width: 30%;
}
.btn{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	border: none;
	border-radius: 5px;
	padding: 10px;
	width: 140px;
	display: block;
	margin: 15px auto;
	cursor: pointer;
	transition: var(--transition);
	
}
.btn:hover{
	opacity: 0.85;
}
.book-form{
    display: contents;
    
}
.form-item{
	display: flex;
	flex-direction: column;
	justify-content: left;
}
.book-form input[type="submit"]{
	margin:18px 0 0 0;
	background: var(--dark);
	color:azure;
	border: 1px solid azure;
}
.book-form label, .book-form input{
	width: 100%;
}
.book-form label{
	font-weight: 600;
	word-spacing: 5px;
	padding-bottom: 8px;
}
.book-form input:not(.btn){
	margin:2px 0 10px 0;
	padding: 8px 10px;
	border-radius: 5px;
	font-size: 14px;
	border: none;
}
.book-form input:focus{
	outline:0;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}
@media(min-width: 768px){
	.book-form{
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 24px;
	}
}
@media(min-width: 1170px){
	.book-form{
		grid-template-columns: repeat(3, 1fr);
		
	}
}
@media(min-width: 1370px){
	.book-form{
		grid-template-columns: 2fr 2fr 1fr 1fr 1fr 2fr;}
		.book{
			height: 25vh;
			display: grid;
		}
	}

@media(max-width: 500px){
	.book{
		padding-left: 20px;
		padding-right: 20px;
	}
}
